:81 {
	@transform_port_query {
		query XTransformPort=*
	}

	handle @transform_port_query {
		@valid_port `{query.XTransformPort} in {"3000","3001","8080","8443"}`
		redir @valid_port /{query} {uri}
	 respond "Forbidden" 403
	}

	encode gzip

	reverse_proxy localhost:3000 {
		header_up Host {host}
	}
}
